ColortheGoalDaruma.swiftpm/.swiftpm/playgrounds/DocumentThumbnail.plist
ColortheGoalDaruma.swiftpm/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
ColortheGoalDaruma.swiftpm/.swiftpm/xcode/package.xcworkspace/xcuserdata/rino.xcuserdatad/UserInterfaceState.xcuserstate
ColortheGoalDaruma.swiftpm/.swiftpm/xcode/xcuserdata/rino.xcuserdatad/xcschemes/xcschememanagement.plist
